.flarum-ads {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Flagrow-Ads-fake-poststream-item {
    // Mimic `.PostStream-item` borders even if we are in fact inside one
    border-top: 1px solid @control-bg;
}
